@use '../../node_modules/sidebar/src/scss/sidebar';
@use '../../node_modules/header/src/scss/header';
@use '../../node_modules/layout/src/scss/layout';

@use 'partials/mainVar';

body {
  margin: 0;
}

.body {
  display: flex;
  flex-direction: row; /* Ensures child elements are placed side-by-side */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: mainVar.$body-background-color;
}
